.errorPage {
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    details {
        margin-top: 10px;
        padding-left: 20px;
        border-left: 2px solid #ccc;

        summary {
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}