.sidebar {
  width: 200px;
  padding-top: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profileContainer {
      .profile {
        padding-left: 0.5rem;

        h2 {
          font-size: 1rem;
        }

        p {
          line-height: normal;
        }
      }
    }

    .expandCollapseButton {
      padding: 0.5rem;

      :hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  nav {
    padding-top: 1.5rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0.5rem 0;

        a {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          padding: 0.5rem;
          color: #333;
          text-decoration: none;

          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }
  }

  &.collapsed {
    width: auto;

    .header {
      .profile {
        display: none;
      }
    }

    nav {
      ul {
        li {
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    &.collapsed {
      width: auto;
    }
  }
}